body {
	background-color: lightblue;
	text-align: center;
	font-family: verdana;
}
.bookCover {
	width: 200px;
	border: 2px solid black;
	padding: 5px;
}

ul {
	list-style-type: none;
}
li {
	margin-left: -10px;
}
.reviews {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.reviews img{
	width: 300px;
	height: 300px;
	margin: 2px;
	border: 1px solid black;
}
